<div class="container max-w-5xl mx-auto">
  <div class="bg-white mt-10 p-3 rounded-lg border shadow-md">
    <h1 class="text-center text-3xl uppercase text-gray-500 font-bold">
      Credit Card
    </h1>
  </div>

  <div class="grid grid-cols-2 gap-10 mt-10 items-start">
    <div class="w-full py-3 px-10 bg-white rounded-lg border shadow-md">
      <app-create-card></app-create-card>
    </div>
    <div class="w-full p-3 bg-white rounded-lg border shadow-md">
      <app-list-card></app-list-card>
    </div>
  </div>
</div>
