<div>
  <h1 class="text-center text-xl uppercase text-gray-500 font-bold">
    List card
  </h1>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-5"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-4 py-3">Titular</th>
          <th scope="col" class="px-4 py-3">Card number</th>
          <th scope="col" class="px-4 py-3">Expiration date</th>
          <th scope="col" class="px-4 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="w-full">
          <td class="py-1 px-4">Jared Alexander trejo larios</td>
          <td class="py-1 px-4">1234567812345678</td>
          <td class="py-1 px-4">02/23</td>
          <td class="py-1 px-4 flex justify-center items-center my-5 gap-x-5">
            <i class="fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-trash"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
